<div class="fashion-container">
  <h2 class="title">Fashion List</h2>
  <div *ngIf="errMessage" class="error">{{ errMessage }}</div>
  <table class="fashion-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Style</th>
        <th>Title</th>
        <th>Detail</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fashion of fashions">
        <td>{{ fashion._id }}</td>
        <td class="style">{{ fashion.style }}</td>
        <td class="title">{{ fashion.fashion_title }}</td>
        <td class="detail">{{ fashion.fashion_details }}</td>
        <td>
          <img
            [src]="get_image(fashion.thumbnail)"
            alt="Fashion"
            class="fashion-img"
            (click)="viewDetail(fashion._id)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>